body{
    height: 100vh;
}

.my_container{
    max-width: 1100px;
    margin: auto;
    height: 100%;
}
.hide{
    display: none;
}
.card_style{
    width: calc((100%/5));
    text-align: center;
    height: 10%;
}